<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head_style -%}
        {% stylesheets filter='?cssembed,?yui_css'
           '@IsdevTwitterBootstrapBundle/Resources/public/bootstrap/css/bootstrap.css'
           '@IsdevTwitterBootstrapBundle/Resources/public/bootstrap/css/bootstrap-responsive.css'
           '@IsdevTwitterBootstrapBundle/Resources/public/css/custom.css'
        %}<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />{% endstylesheets %}
    {% endblock head_style %}
    {% block head_script %}{# Append JavaScript at the bottom for fast page loading except in special cases. #}{% endblock head_script %}
    <title>{% block title %}Twitter Bootstrap Bundle{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div class="container">
	{% block container %}
        {% block navbar %}{% include 'IsdevTwitterBootstrapBundle::navbar.html.twig' %}{% endblock navbar %}

        <header>
            {% block header %}
            <div class="page-header">
                <h1>{% block headline %}Twitter Bootstrap Bundle{% endblock headline %}</h1>
            </div>
            {% endblock header %}
        </header>

        <div class="content">
			{% block flashes %}
                {% import 'IsdevTwitterBootstrapBundle::flash.html.twig' as flash %}
			    {{ flash.session_msg() }}
			{% endblock flashes %}

            {% block content %}
            <div class="row">
                <strong>Hier könnte Ihre Werbung stehen ... </strong>
            </div>
            {% endblock content %}
        </div>{# /.content #}

        <footer>
	        {% block footer %}
	        <p>&copy; <a href="http://intellectsoft.org/" target="_blank">IntellectSoft</a> {{ 'now'|date('Y') }}</p>
	        {% endblock footer %}
        </footer>
	{% endblock container %}
    </div>{# /.container #}

	{% block foot_script -%}
        {% javascripts filter="?yui_js"
            'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
            '@IsdevTwitterBootstrapBundle/Resources/public/bootstrap/js/bootstrap.js'
        %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
    {% endblock foot_script %}
{% endblock body %}
</body>
</html>